# Lecture-8
## pandas part-1

### pandas
pandas is an open source, BSD-licensed library providing high-performance,easy-to-use data structures and data analytic tools for the python programming language.

In [1]:
import pandas as pd
import numpy as np

### DataFrame

In [3]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4'])

In [5]:
df.head()
#head pop up first five rows of the table

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [7]:
df.to_csv("test1.csv")
# to generate an excel file

In [22]:
# Accessing the elements
# 1. .loc  2. .iloc
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int64

In [15]:
type(df.loc['row1'])

pandas.core.series.Series

In [16]:
# DataFrame has more than one columns or more than one rows.
# DataSeries has either one column or one row.
df.iloc[:,:]
# iloc wants the index of both rows and columns.

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [19]:
df.iloc[0:2,0:3]

      col1  col2  col3
row1     0     1     2
row2     4     5     6

In [20]:
type(df.iloc[0:2,0:3])

pandas.core.frame.DataFrame

### convert DataFrame into Array

In [23]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [25]:
df.iloc[:,1:].values.shape

(5, 3)

In [26]:
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [27]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [28]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16])

In [30]:
df['col1']

row1     0
row2     4
row3     8
row4    12
row5    16
Name: col1, dtype: int64

In [31]:
df[['col1','col2']]

      col1  col2
row1     0     1
row2     4     5
row3     8     9
row4    12    13
row5    16    17