# Lecture-9
## pandas part-2
### read_csv methods and functions

In [34]:
df=pd.read_csv('Mercedes.csv')
# csv=comma seperated values

In [35]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [40]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [43]:
df['X0'].value_counts()

X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
aw     16
l      16
ad     14
k      11
au     11
b      11
r      10
as     10
bc      6
ao      4
c       3
q       2
aa      2
ac      1
g       1
ab      1
Name: count, dtype: int64

In [44]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [45]:
from io import StringIO, BytesIO

In [63]:
data=('col1,col2,col3\n'
      'x,y,2\n'
      'a,b,3\n'
      'd,e,4')

In [64]:
type(data)

str

In [65]:
StringIO()

In [66]:
pd.read_csv(StringIO(data))
# generally convert comma seperated string data to dataframes without using csv file directly

  col1 col2  col3
0    x    y     2
1    a    b     3
2    d    e     4

In [67]:
# read from specific columns
df=pd.read_csv(StringIO(data),usecols=['col1','col2'])

In [68]:
df

  col1 col2
0    x    y
1    a    b
2    d    e

In [69]:
# to create a csv file
df.to_csv('test2.csv')

In [70]:
df=pd.read_csv(StringIO(data),dtype=object)

In [71]:
df

  col1 col2 col3
0    x    y    2
1    a    b    3
2    d    e    4

In [73]:
df['col3'][0]

'2'

In [74]:
df['col3']

0    2
1    3
2    4
Name: col3, dtype: object

In [76]:
data1=('a,b,c\n'
      '1,2,3\n'
      '4,5,6\n'
      '7,8,9')

In [77]:
df=pd.read_csv(StringIO(data1),dtype='object')

In [78]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [79]:
df['a']

0    1
1    4
2    7
Name: a, dtype: object

In [82]:
df=pd.read_csv(StringIO(data1),dtype='float')

In [83]:
df['a']

0    1.0
1    4.0
2    7.0
Name: a, dtype: float64

In [85]:
df=pd.read_csv(StringIO(data1),dtype={'a':int,'b':float,'c':object})

In [93]:
df

   a    b  c
0  1  2.0  3
1  4  5.0  6
2  7  8.0  9

In [94]:
data2=('index,a,b,c\n'
      '1,2,3,9\n'
      '4,5,6,7\n')

In [95]:
pd.read_csv(StringIO(data2),index_col=2)

   index  a  c
b
3      1  2  9
6      4  5  7

In [96]:
data3=('a,b,c\n'
      '1,2,3,\n'
      '4,5,6,\n')

In [97]:
pd.read_csv(StringIO(data3))

   a  b   c
1  2  3 NaN
4  5  6 NaN

In [98]:
pd.read_csv(StringIO(data3),index_col=False)

   a  b  c
0  1  2  3
1  4  5  6

In [100]:
# combining usecols with index_col
pd.read_csv(StringIO(data3),usecols=['b','c'],index_col=False)

   b  c
0  2  3
1  5  6

In [108]:
# use of escaping character in csv file
data4=('a,b\n"hello,\\"Bob\\",nice to see you",5')

In [110]:
pd.read_csv(StringIO(data4),escapechar='\\')
# we can also use " sep='' " for \t and other escaping character.

                             a  b
0  hello,"Bob",nice to see you  5